body {
	background: #efefef;
	color: #59585c;
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'ScriptMTBold';
  src: url('ScriptMTBold.eot?#iefix') format('embedded-opentype'),  url('ScriptMTBold.woff') format('woff'), url('ScriptMTBold.ttf')  format('truetype'), url('ScriptMTBold.svg#ScriptMTBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


video {
	position: fixed;
	width: 100%;
}

.listen {
	margin: 0 2.5% 0 0;
}

.watch {
	margin: 0;
}

ul {
	display: block;
	float: left;
	padding: 0;
	width: 48.5%;
}

ul li {
	list-style: none;
}

ul li a {
	background: #523f77;
	border-radius: 3px;
	color: white;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: 100;
	height: 30px;
	letter-spacing: 2px;
	margin: 0 auto 1.2em;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	transition: background 100ms, letter-spacing 250ms;
	-webkit-transition: background 100ms, letter-spacing 250ms;
	-moz-transition: background 100ms, letter-spacing 250ms;
	width: 80%;
}

ul li a img {
	border-style: none;
}

ul li a:hover {
	background: #5c4786;
	letter-spacing: 2.5px;
}

ul li:last-child a {
	margin-bottom: 0;
}

.soundcloud img {
	margin-right: 12px;
	vertical-align: -4px;
	width: 50px;
}

.youtube img {
	margin-right: 12px;
	vertical-align: -9px;
	width: 40px;
}

.vimeo img {
	margin-right: 12px;
	vertical-align: -9px;
	width: 30px;
}

.hq-wav img {
	margin-right: 12px;
	vertical-align: -6px;
	width: 45px;
}

.nifty-logo {
  color: #dc382e;
  display: block;
  font-family: 'ScriptMTBold';
  font-size: 8em;
  margin-bottom: 0.4em;
  text-align: center;
  width: 100%;
}

.content {
	box-shadow: 0 0 10px rgba(0,0,0 0.5);
	box-sizing: border-box;
	background: #FFF;
	display: block;
	clear: both;
	overflow: hidden;
	margin: 135px auto;
	min-width: 786px;
	padding: 0 2.5% 3%;
	position: relative;
	width: 50%;
}

.credit {
	display: block;
	font-family: arial;
	float: right;
	text-align:center;
	width: 100%;`
}

.nifty-logo {
	display: block;
	margin: 0 auto 4.5%;
	width: 300px;
}

.video {
	position: fixed;
	top: 0;
	width: 1920px;
}