@media only screen and (max-width: 786px) {
  .content {
    margin-top: 50px;
    min-width: 330px;
    width: 88%;
  }

  .content ul {
    margin-bottom: 1.2em;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    background: url('fallback-background.png') no-repeat;
  }

  ul li a {
    font-size: 1em;
  }

  .content {
    margin-top: 30px;
  }

  .nifty-logo {
    font-size: 5em;
    margin-bottom: 6.5%;
  }

  .video {
    display: none;
  }
}